<div class="tw-flex tw-justify-center md:tw-justify-between tw-p-5">
    <div class="tw-hidden md:tw-block">
        <p class="tw-p-3 tw-text-negro tw-font-extrabold">FrancoGriffone/></p>
    </div>
    <div>
        <ul class="tw-list-none tw-flex tw-p-0">
            <li class="tw-ml-3 tw-p-3 tw-text-center tw-hidden sm:tw-block"> 
                <a class="tw-text-negro tw-no-underline hover:tw-underline tw-cursor-pointer" (click)="onScroll('sobreMi')">Sobre mi</a>
            </li>
            <li class="tw-ml-3 tw-p-3 tw-text-center">
                <a class="tw-text-negro tw-no-underline hover:tw-underline tw-cursor-pointer" (click)="onScroll('skills')">Skills</a>
            </li>
            <li (click)="onScroll('contacto');" class="tw-ml-3 tw-p-3 tw-text-center tw-border-solid tw-border-2 tw-rounded-lg tw-transition-all tw-ease-linear hover:tw-cursor-pointer hover:tw-bg-negro tw-group">
                <a class="tw-text-negro tw-no-underline group-hover:tw-text-white">¡Ponte en contacto!</a>
            </li>
        </ul>
    </div>
</div>

<div class="contenedor tw-p-5 tw-flex tw-flex-col tw-items-center">
    <section id="sobreMi" class="tw-flex tw-flex-col md:tw-flex-row tw-max-w-5xl">
        <div class="descripcionPersonal tw-w-full">
            <p class="tw-text-negro tw-font-extrabold tw-text-3xl sm:tw-text-5xl sm:tw-tracking-wider">Despeguemos juntos a una aventura increíble</p>
            <p class="tw-text-negro tw-text-lg">Bienvenido a mi portafolio. Soy un developer argentino, con estudios en derecho también. Me apasiona todo lo relativo a la tecnología, y es un sueño poder hoy vivir de esto. ¡Entra en contacto conmigo para conocerme más!</p>
        </div>
        <div class="fotoPerfil tw-w-full tw-flex tw-flex-col tw-items-center tw-justify-center">
            <p class="tw-p-3 tw-block md:tw-hidden tw-text-negro tw-font-extrabold">FrancoGriffone/></p>
            <img class="tw-rounded-full tw-w-4/5" src="assets/perfil.jpeg" alt="foto de perfil">
        </div>
    </section>
    <section class="tw-flex tw-flex-col tw-max-w-5xl" id="skills">
        <div class="carrera tw-px-5 tw-py-20 tw-flex tw-flex-col sm:tw-flex-row">
            <div class="tw-flex tw-items-center">
                <p class="tw-text-negro tw-font-extrabold tw-text-2xl tw-p-1 tw-bg-verde tw-mr-2">Estudios</p>
            </div>
            <div class="tw-flex tw-items-center">
                <p class="tw-text-negro tw-text-sm">Primero conseguí titularme como Abogado estudiando en la Universidad Nacional de Río Cuarto, y luego, al tiempo que trabajaba, me capacité como Developer full stacks de manera online.</p>
            </div>
        </div>
        <div class="skills tw-flex tw-flex-wrap tw-items-center tw-justify-center">
            <div (click)="showDialog('developer')" class="tw-flex tw-border-solid tw-border-2 tw-border-b-8 tw-rounded-3xl tw-p-8 tw-h-56 tw-w-full tw-max-w-md tw-m-5 tw-transition-all tw-ease-linear hover:tw-border-2 hover:tw-cursor-pointer">
                <div class="tw-w-full tw-flex tw-flex-col tw-justify-around">
                    <div class="tw-flex tw-flex-col tw-items-start">
                        <p class="tw-bg-verde tw-mb-0 tw-font-semibold tw-text-xl">Developer</p>
                        <p class="tw-bg-verde tw-mt-0 tw-font-semibold tw-text-xl">full stacks</p>
                    </div>
                    <div class="tw-flex tw-items-center">
                        <div class="tw-flex tw-items-center hover:tw-cursor-pointer tw-group">
                            <p class="group-hover:tw-underline tw-m-0">Saber más</p>
                            <mat-icon class="tw-rotate-45">arrow_upward</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="tw-w-full tw-hidden sm:tw-block">
                    <div class="tw-w-full tw-flex tw-justify-center tw-items-center tw-h-full">
                        <img class="tw-w-4/5" src="assets/designer.png" alt="foto de diseño">
                    </div>
                </div>
            </div>
            <div (click)="showDialog('frontEnd')" class="tw-flex tw-border-solid tw-border-2 tw-border-b-8 tw-border-gris tw-rounded-3xl tw-bg-negro tw-p-8 tw-h-56 tw-w-full tw-max-w-md tw-m-5 tw-transition-all tw-ease-linear hover:tw-border-2 hover:tw-cursor-pointer">
                <div class="tw-w-full tw-flex tw-flex-col tw-justify-around">
                    <div class="tw-flex tw-flex-col tw-items-start">
                        <p class="tw-bg-white tw-mb-0 tw-font-semibold tw-text-xl">Angular/Typescript</p>
                        <p class="tw-bg-white tw-mt-0 tw-font-semibold tw-text-xl">mi día a día</p>
                    </div>
                    <div class="tw-flex tw-items-center">
                        <div class="tw-flex tw-items-center hover:tw-cursor-pointer tw-group">
                            <p class="tw-text-white group-hover:tw-underline tw-m-0">Saber más</p>
                            <mat-icon class="tw-text-white tw-rotate-45">arrow_upward</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="tw-w-full tw-hidden sm:tw-block">
                    <div class="tw-w-full tw-flex tw-justify-center tw-items-center tw-h-full">
                        <img class="tw-bg-white tw-rounded-full tw-w-4/5" src="assets/secureLogin.png" alt="foto frontend">
                    </div>
                </div>
            </div>
            <div (click)="showDialog('backEnd')" class="tw-flex tw-border-solid tw-border-2 tw-border-b-8 tw-border-gris tw-rounded-3xl tw-bg-negro tw-p-8 tw-h-56 tw-w-full tw-max-w-md tw-m-5 tw-transition-all tw-ease-linear hover:tw-border-2 hover:tw-cursor-pointer">
                <div class="tw-w-full tw-flex tw-flex-col tw-justify-around">
                    <div class="tw-flex tw-flex-col tw-items-start">
                        <p class="tw-bg-white tw-mb-0 tw-font-semibold tw-text-xl">C#, SQL,</p>
                        <p class="tw-bg-white tw-mt-0 tw-font-semibold tw-text-xl">SQL Server y más</p>
                    </div>
                    <div class="tw-flex tw-items-center">
                        <div class="tw-flex tw-items-center hover:tw-cursor-pointer tw-group">
                            <p class="tw-text-white group-hover:tw-underline tw-m-0">Saber más</p>
                            <mat-icon class="tw-text-white tw-rotate-45">arrow_upward</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="tw-w-full tw-hidden sm:tw-block">
                    <div class="tw-w-full tw-flex tw-justify-center tw-items-center tw-h-full">
                        <img class="tw-bg-white tw-rounded-full tw-w-4/5" src="assets/dataSecurity.png" alt="foto backend">
                    </div>
                </div>
            </div>
            <div (click)="showDialog('softSkills')" class="tw-flex tw-border-solid tw-border-2 tw-border-b-8 tw-rounded-3xl tw-p-8 tw-h-56 tw-w-full tw-max-w-md tw-m-5 tw-transition-all tw-ease-linear hover:tw-border-2 hover:tw-cursor-pointer">
                <div class="tw-w-full tw-flex tw-flex-col tw-justify-around">
                    <div class="tw-flex tw-flex-col tw-items-start">
                        <p class="tw-bg-verde tw-mb-0 tw-font-semibold tw-text-xl">Soft-skills</p>
                        <p class="tw-bg-verde tw-mt-0 tw-font-semibold tw-text-xl">Adquiridas</p>
                    </div>
                    <div class="tw-flex tw-items-center">
                        <div class="tw-flex tw-items-center hover:tw-cursor-pointer tw-group">
                            <p class="group-hover:tw-underline tw-m-0">Saber más</p>
                            <mat-icon class="tw-rotate-45">arrow_upward</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="tw-w-full tw-hidden sm:tw-block">
                    <div class="tw-w-full tw-flex tw-justify-center tw-items-center tw-h-full">
                        <img class="tw-w-4/5" src="assets/team.png" alt="foto de trabajo en equipo">
                    </div>
                </div>
            </div>
        </div>
        <div class="invitacion" id="contacto">
            <div class="tw-bg-gris tw-flex tw-p-8 tw-mt-20 tw-rounded-3xl">
                <div class="tw-w-full tw-flex tw-flex-col tw-justify-center">
                    <p class="tw-text-negro tw-font-extrabold tw-tracking-wider tw-text-2xl tw-mb-3">Hagamos que las cosas pasen</p>
                    <p class="tw-text-negro tw-text-sm">Si te interesó el contenido de la web y crees que mi perfil puede encajar con tu idea, no dudes en entrar en contacto (siempre es bueno tener una charla amena)</p>
                    <div class="tw-w-full tw-flex tw-justify-center">
                        <button mat-raised-button [style]="{color: '#ffffff', background: '#26242d', border: '1px solid #26242d'}" (click)="showDialog('contacto');">Quiero contactarme</button>
                    </div>
                </div>
                <div class="tw-w-full tw-hidden sm:tw-block">
                    <div class="tw-w-full tw-flex tw-justify-center tw-items-center">
                        <img class="tw-rounded-full tw-w-4/5" src="assets/social.png" alt="foto de referencia social">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="redes tw-max-w-5xl">
        <div class="polivalencia tw-px-5 tw-py-20 tw-flex tw-flex-col sm:tw-flex-row">
            <div class="tw-flex tw-items-center">
                <p class="tw-text-negro tw-font-extrabold tw-text-xl tw-p-1 tw-bg-verde tw-mr-2">Polivalencia</p>
            </div>
            <div class="tw-flex tw-items-center">
                <p class="tw-text-negro tw-text-sm">Si bien tengo una clara inclinación por el diseño, me siento muy a gusto con tareas diferentes como el backend (un poco por el mismo amor a lo tecnológico).</p>
            </div>
        </div>
        <div class="linksRedes tw-p-8 tw-bg-negro tw-rounded-3xl lg:tw-flex">
            <div class="tw-p-5 tw-w-full tw-flex tw-flex-col tw-justify-between">
                <p class="tw-text-white tw-text-sm">Facebook funciona casi como un documento de identidad.</p>
                <div class="tw-flex tw-items-center">
                    <div class="tw-flex tw-items-end hover:tw-cursor-pointer tw-group">
                        <a href="https://www.facebook.com/franco.griffone.9/" target="_blank" class="tw-text-verde tw-no-underline tw-text-sm group-hover:tw-underline tw-m-0">Link a facebook</a>
                        <mat-icon class="tw-text-verde tw-rotate-45">arrow_upward</mat-icon>
                    </div>
                </div>
            </div>
            <hr>
            <div class="tw-p-5 tw-w-full tw-flex tw-flex-col tw-justify-between">
                <p class="tw-text-white tw-text-sm">Es mi red social por excelencia. Soy más de mirar que de publicar.</p>
                <div class="tw-flex tw-items-center">
                    <div class="tw-flex tw-items-end hover:tw-cursor-pointer tw-group">
                        <a href="https://www.instagram.com/pipogriffone/" target="_blank" class="tw-text-verde tw-no-underline tw-text-sm group-hover:tw-underline tw-m-0">Link a instagram</a>
                        <mat-icon class="tw-text-verde tw-rotate-45">arrow_upward</mat-icon>
                    </div>
                </div>
            </div>
            <hr>
            <div class="tw-p-5 tw-w-full tw-flex tw-flex-col tw-justify-between">
                <p class="tw-text-white tw-text-sm">Este es obligatorio, con datos actualizados siempre.</p>
                <div class="tw-flex tw-items-center">
                    <div class="tw-flex tw-items-end hover:tw-cursor-pointer tw-group">
                        <a href="https://www.linkedin.com/in/francogriffone/" target="_blank" class="tw-text-verde tw-no-underline tw-text-sm group-hover:tw-underline tw-m-0">Link a linkedin</a>
                        <mat-icon class="tw-text-verde tw-rotate-45">arrow_upward</mat-icon>
                    </div>
                </div>
            </div>
            <hr>
            <div class="tw-p-5 tw-w-full tw-flex tw-flex-col tw-justify-between">
                <p class="tw-text-white tw-text-sm">En Github encontrarán los proyectos en los que estoy trabajando</p>
                <div class="tw-flex tw-items-center">
                    <div class="tw-flex tw-items-end hover:tw-cursor-pointer tw-group">
                        <a href="https://github.com/FrancoGriffone" target="_blank" class="tw-text-verde tw-no-underline tw-text-sm group-hover:tw-underline tw-m-0">Link a github</a>
                        <mat-icon class="tw-text-verde tw-rotate-45">arrow_upward</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <footer class="footer">
        <div class="nombreFooter">
            <p>Franco Griffone</p>
        </div>
        <div class="logos">
            <a href="https://github.com/FrancoGriffone" target="_blank">
                <p-button 
                    icon="pi pi-github" 
                    [rounded]="true" 
                    [text]="true"
                    [style]="{color: '#f9b17a'}">
                </p-button>
            </a>
            <a href="https://www.linkedin.com/in/francogriffone/" target="_blank">
                <p-button 
                    icon="pi pi-linkedin" 
                    [rounded]="true" 
                    [text]="true"
                    [style]="{color: '#f9b17a'}">
                </p-button>
            </a>
            <a href="https://www.facebook.com/franco.griffone.9/" target="_blank">
                <p-button 
                    icon="pi pi-facebook" 
                    [rounded]="true" 
                    [text]="true"
                    [style]="{color: '#f9b17a'}">
                </p-button>
            </a>
            <a href="https://www.instagram.com/pipogriffone/" target="_blank">
                <p-button 
                    icon="pi pi-instagram" 
                    [rounded]="true" 
                    [text]="true"
                    [style]="{color: '#f9b17a'}">
                </p-button>
            </a>
        </div>
    </footer> -->
</div>
