<div class="contenedor">
    <section class="portada">
        <div class="tarjetaPerfil">
            <img src="../../../assets/textura-papel-arrugado-blanco.jpg" alt="foto de perfil" width="200px" height="200px">
            <p>Franco Griffone</p>
            <p>Developer</p>
        </div>
        <div class="buttonSeccion">
            <a href="#sobreMi">
                <p-button 
                    icon="pi pi-angle-down" 
                    [rounded]="true" 
                    [text]="true">
                </p-button>
            </a>
        </div>
    </section>
    <section class="sobreMi" id="sobreMi">
        <div class="buttonSeccion">
            <a href="#trabajos">
                <p-button 
                    icon="pi pi-angle-down" 
                    [rounded]="true" 
                    [text]="true">
                </p-button>
            </a>
        </div>
    </section>
    <section class="trabajos" id="trabajos">
        <div class="buttonSeccion">
            <a href="#contacto">
                <p-button 
                    icon="pi pi-angle-down" 
                    [rounded]="true" 
                    [text]="true">
                </p-button>
            </a>
        </div>
    </section>
    <section class="contacto" id="contacto">
        <div class="buttonSeccion">
            <a href="#footer">
                <p-button 
                    icon="pi pi-angle-down" 
                    [rounded]="true" 
                    [text]="true">
                </p-button>
            </a>
        </div>
    </section>
</div>
