<div class="navbar">
    <ul>
        <li>
            <a href="#portada">Inicio</a>
        </li>
        <li>
            <a href="#sobreMi">Sobre mi</a>
        </li>
        <li>
            <a href="#trabajos">Trabajos</a>
        </li>
        <li>
            <a href="#contacto">Contacto</a>
        </li>
    </ul>
</div>

<div class="contenedor">
    <section class="portada" id="portada">
        <div class="tarjetaPerfil">
            <img src="../../../assets/textura-papel-arrugado-blanco.jpg" alt="foto de perfil" width="200px" height="200px">
            <p class="nombre">Franco Griffone</p>
            <p class="ocupacion">Developer</p>
        </div>
        <div class="buttonSeccion">
            <a href="#sobreMi">
                <p-button 
                    icon="pi pi-angle-down" 
                    [rounded]="true" 
                    [text]="true"
                    [style]="{color: '#676f9d'}">
                </p-button>
            </a>
        </div>
    </section>
    <section class="sobreMi" id="sobreMi">
        <div class="buttonSeccion">
            <a href="#trabajos">
                <p-button 
                    icon="pi pi-angle-down" 
                    [rounded]="true" 
                    [text]="true"
                    [style]="{color: '#f9b17a'}">
                </p-button>
            </a>
        </div>
    </section>
    <section class="trabajos" id="trabajos">
        <div class="buttonSeccion">
            <a href="#contacto">
                <p-button 
                    icon="pi pi-angle-down" 
                    [rounded]="true" 
                    [text]="true"
                    [style]="{color: '#676f9d'}">
                </p-button>
            </a>
        </div>
    </section>
    <section class="contacto" id="contacto">
        <div class="fraseContacto">
            <div class="fraseUno">
                <p>
                    ¿Te gustó el contenido de la página?
                </p>
            </div>
            <div class="fraseDos">
                <p>
                    ¡Ponte en contacto conmigo y solicita mi currículum!
                </p>
            </div>
            <div class="buttonContacto">
                <p-button 
                    label="Quiero contactarme" 
                    icon="pi pi-envelope"
                    [style]="{color: '#676f9d', background: '#f9b17a', border: '1px solid #f9b17a'}">
                </p-button>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="nombreFooter">
            <p>Franco Griffone</p>
        </div>
        <div class="logos">
            <p-button 
                icon="pi pi-github" 
                [rounded]="true" 
                [text]="true"
                [style]="{color: '#f9b17a'}">
            </p-button>
            <p-button 
                icon="pi pi-linkedin" 
                [rounded]="true" 
                [text]="true"
                [style]="{color: '#f9b17a'}">
            </p-button>
            <p-button 
                icon="pi pi-facebook" 
                [rounded]="true" 
                [text]="true"
                [style]="{color: '#f9b17a'}">
            </p-button>
            <p-button 
                icon="pi pi-instagram" 
                [rounded]="true" 
                [text]="true"
                [style]="{color: '#f9b17a'}">
            </p-button>
        </div>
    </footer>
</div>
